@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&subset=vietnamese');

$font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$global-font-size: 14px;

$fore-color: #34495e;

$header-height: 80px;
