<div class="wrapper">

  <div class="menu-list">
    <div class="top-menu">
      <div class="head">Warning Map</div>
    </div>
  </div>
  <div class="map-content">
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>
  </div>

</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwZPk6_YZaL7O3cQeJCpWT1SmXM58Rl5I&callback=initMap">
</script>
<script>
  function initMap() {
  var uluru = {lat: -25.363, lng: 131.044};
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 4,
    center: uluru
  });
  var marker = new google.maps.Marker({
    position: uluru,
    map: map
  });
}
</script>
